<div class="users_body">

  <div class="user_left">
      <h2>Vos coupons:</h2>
      <% @tickets.each do |ticket| %>
      <div class="dep_cards">
        <div class="index-container cards">
          <h5> Vos objets déposés pour ce coupon: </h5>
          <ul>
            <% ticket.products.each do |product| %>
              <li>
              <h6> <%= product.title %>: "<%= product.category %>"</h6>
              <p> <%= product.detail %>,
              état: <%= product.condition %> </p>
              <p><%= cl_image_tag product.picture1.key, class:" rounded-2", height: 100, width: 150, crop: :fill if product.picture1.attached? %></p>
              </li>
            <% end %>
          </ul>
        <div class="ticket">
          <div class="content">
          <span class="coupon">Votre coupon :</span>
          <span class="price"> <%= ticket.price %> €</span>
          </div>
        </div>
        </div>
      </div>
      <% end %>

  </div>

  <div class="user_right">
    <div class="donnees">
      <h2>Vos données personnelles:</h2>
      <h4> Votre email:</h4>
      <p> <%= current_user.email %> </p>
    </div>

    <div class="p-4">
    <h2>Vos achats:</h2>
    <p> Vous n'avez aucun achat dans votre panier pour le moment. </p>
    </div>
  </div>

</div>
