
<div class ="homepage_body">

  <div class="info_container_left col-7">



    <div class="carousel_container" data-controller="carousel">
      <div class='container' id="container" data-carousel-target="container">
        <div class="carousel" id="carousel" data-carousel-target="carousel" >
          <!-- Your product rendering -->
          <% @products.limit(9).each do |product| %>
            <figure style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= product.image %>)">
              <h5><%= link_to product.title, establishment_path(product.establishment),class:"text-decoration-none" %></h5>
              <p><%= product.price %>€</p>

            </figure>
          <% end %>
        </div>
        <button class="btn-carousel" data-action="click->carousel#rotate">prev</button>
        <button class="btn-carousel" data-action="click->carousel#rotate">next</button>
      </div>
    </div>


    <div class="map_container_home overflow-auto">
      <div style="width: 100%; height: 300px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>


      <div>
        <p>Vos adresses proches de chez vous:</p>
        <% @establishments.each do |establishment|%>
          <% next if establishment.id == 1 %>
          <ul>
            <%= link_to establishment.name, establishment_path(establishment), class:"" %>
            <%= establishment.address %>
          </ul>
        <% end %>
      </div>
    </div>

  </div>

  <div class="info_container_right col-5">

    <div class="concept_coupon_info" id="concept">
      <h2>Notre concept</h2>
      <p>Nous vous proposons d'échanger des produits dont vous n'avez plus l'utiliter contre des bons, utilisable chez nous ou bien dans vos
        enseigne favorite</p>
    </div>

    <div class="concept_coupon_info" id="coupon">
      <h2>Les Coupons</h2>
    </div>

  </div>

  <div id="mySidenav" class="sidenav">
    <%= link_to"📦 -  Dépôt", new_product_path, method: :get, class: "depot", id:"depot" %><br><br><br>
    <%= link_to "🛒 - Achat", "#", method: :get, class:"achat", id:"achat" %>
    <%# <p id="achat"> 🛒 - Achat</p> %>
    <%# <p href="" id="depot"> 📦 - Dépôt</p> %>
  </div>


</div>
