<div data-controller="calcul">
    <h1>Ajoutez votre Objet:</h1>

    <%= simple_form_for [@product] do |t| %>
      <%= t.input :title, label: "Nom de votre objet" %>

      <div data-action="click->calcul#updatePrice" id="category">
        <%= t.select :category,
          {
            "Divertissement" => [["Jeux/Jouet/Jeux de société"], ["Livre/BD/Manga"]],
            "Electrique" => [["Electroménager"], ["Télévision/Ecran/Enceinte"]],
            "Mobilier" => [["Canapé/Fauteuil"], ["Commode/Etagére"], ["Chaise"], ["Exterieur"]],
            "Jardinage" => [["Pot/Mobilier"], ["Outils"]],
            "Sport" => [["Vélo"], ["Matériel en tout genre"]],
          },
          selected: "Divertissement", class: "buttoneffect" %>
      </div>

      <%= t.input :detail, label: "Détails descriptifs" %>

      <div data-action="click->calcul#updatePrice" id="condition">
        <%= t.select :condition, ["Très Bon", "Bon", "Moyen", "Usagé"] %>
      </div>

      <div data-action="change->calcul#addPicture1" id="picture1">
      <%= t.input :picture1, as: :file, label: "Photo de votre objet" %>
      </div>
      <div data-action="change->calcul#addPicture2" id="picture2">
      <%= t.input :picture2, as: :file, label: "Photo de votre objet" %>
      </div>
      <div id="picture3">
      <%= t.input :picture3, as: :file, label: "Photo de votre objet" %>
      </div>


      <%= t.hidden_field :price, id: "calculatedPriceInput" %>
       <span id="priceDisplay" data-calcul-target="results">
      </span>


      <%= t.submit %>
    <% end %>

  <div>
    <%= link_to "Annuler", root_path %>
  </div>
</div>

<div id="overlay"></div>


<div id="summary-popup" style="display: none;">
  <h2>Récapitulatif du dépôt</h2>
  <div id="product-details">
    <!-- Les détails du produit seront affichés ici -->
  </div>
  <button id="refuse-button">Refuser</button>
  <button id="validate-button">Accepter</button>

</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
  $(document).ready(function() {
    function updateSummary() {
      var productName = $("input[name='product[title]']").val();
      var category = $("#product_category option:selected").text();
      var condition = $("select[name='product[condition]']").val();
      var picture1 = $("input[name='product[picture1]']").val();
      var picture2 = $("input[name='product[picture2]']").val();
      var picture3 = $("input[name='product[picture3]']").val();

      $("#product-details").html(`
        <p><strong>Nom de l'objet:</strong> ${productName}</p>
        <p><strong>Catégorie:</strong> ${category}</p>
        <p><strong>État:</strong> ${condition}</p>
        <p><strong>Photos:</strong> ${picture1}, ${picture2}, ${picture3}</p>
      `);
    }

    function showPopup() {
      updateSummary();
      $("#overlay, #summary-popup").show();
    }

    function hidePopup() {
      $("#overlay, #summary-popup").hide();
    }


    $("form").submit(function(event) {
      event.preventDefault();
      showPopup();
    });

    $("#refuse-button").click(function() {
      hidePopup();
      window.location.href = '<%= new_product_path %>'; // Redirige vers la page d'annulation
    });

    $("#validate-button").click(function() {
      hidePopup();
      $("form").off("submit").submit();
    });

    $("#overlay").click(hidePopup);
  });
</script>


<style>
  #picture2 {
            display: none;
  }
  #picture3 {
            display: none;
  }

  /* Style pour le pop-up de récapitulatif */
  #summary-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    z-index: 1000;
    box-shadow: 0px 0px 10px 0px #000;
  }

  /* Style pour l'arrière-plan obscurci */
  #overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }

  /* Style pour centrer le contenu du pop-up */
  #product-details {
    text-align: center;
  }
</style>
