<div class="products_body">

  <div class="recap_body col-8">
  <p>Votre Produit :</p>
  <p> - <%= @product.title %> </p>
  <p> - <%= @product.category %> </p>
  <p> - <%= @product.condition %> </p>

  <% if @product.picture1.present? || @product.picture2.present? || @product.picture3.present? %>
    <p>Photos :</p>
    <% if @product.picture1.present? %>
      <p> - <%= cl_image_tag @product.picture1.key, class:" rounded-5", height: 150, width: 200 %> </p>
    <% end %>
    <% if @product.picture2.present? %>
      <p> - <%= cl_image_tag @product.picture2.key, class:" rounded-5", height: 150, width: 200 %> </p>
    <% end %>
    <% if @product.picture3.present? %>
      <p> - <%= cl_image_tag @product.picture3.key, class:" rounded-5", height: 150, width: 200 %> </p>
    <% end %>
  <% end %>

  <p>Votre coupon:</p>

  <div class="ticket">
    <div class="content">
    <span class="coupon">Votre coupon :</span>
    <span> <%= @product.title %> </span>
    <span class="price"> <%= @product.price %> €</span>
    </div>
  </div>

  <div class="btn_deposits" id="Valid">
    <%= button_to "Voir les Objets de votre dépot", deposits_path, method: :get, class:"btn" %>
  </div>
  <div class="btn_deposits" id="Retour">
    <%= button_to "Déposer un autre Objet",  new_product_path, method: :get, class:"btn" %>
  </div>

</div>



</div>
