<div class="products_body">

  <div class="resum_deposits col-8">
    <p>Votre Produit :</p>
    <p> - <%= @product.title %> </p>
    <p> - <%= @product.category %> </p>
    <p> - <%= @product.condition %> </p>
    <p> <%= @product.picture1 %> </p>
    <p> <%= @product.picture2 %> </p>
    <p> <%= @product.picture3 %> </p>
    <p>Votre coupon:</p>
    <p> - <%= @product.price %>€ </p>
  </div>


  <div class="btn_deposits" id="Valid">
    <%= button_to "Voir les Objets de votre dépot", deposits_path, method: :get, class:"btn btn-outline-success" %>
  </div>

  <div class="btn_deposits" id="Retour">
    <%= button_to "Déposer un autre Objet",  new_product_path, method: :get, class:"btn btn-outline-success" %>
  </div>


  <div>
     <div style="width: 100%; height: 300px;"
        data-controller="map"
        data-map-markers-value="<%= @marker.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
  </div>
</div>
