<div class="products_body">

  <div class="recap_body col-8">
    <h4>Votre Produit :</h4>
    <h5> <%= @product.title %>: </h5>
    <p> Categorie: <%= @product.category %>, état: <%= @product.condition %> </p>

    <% if @product.picture1.present? || @product.picture2.present? || @product.picture3.present? %>
      <h5>Photos :</h5>
      <% if @product.picture1.present? %>
        <p> <%= cl_image_tag @product.picture1.key, class:" rounded-5", height: 150, width: 200 %>
      <% end %>
      <% if @product.picture2.present? %>
         <%= cl_image_tag @product.picture2.key, class:" rounded-5", height: 150, width: 200 %>
      <% end %>
      <% if @product.picture3.present? %>
         <%= cl_image_tag @product.picture3.key, class:" rounded-5", height: 150, width: 200 %> </p>
      <% end %>
    <% end %>

    <p>Votre coupon:</p>

    <div class="ticket">
      <div class="content">
      <span class="coupon">Votre coupon :</span>
      <span> <%= @product.title %> </span>
      <span class="price"> <%= @product.price %> €</span>
      </div>
    </div>

  </div>

<div class="btn-wrapper">
  <div class="btn_deposits" id="Valid">
    <%= button_to "Voir votre Dépôt", deposits_path, method: :get, class:"btn", style: "color: white;" %>
  </div>
  <div class="btn_deposits" id="Retour">
    <%= button_to "Déposer un autre Objet",  new_product_path, method: :get, class:"btn", style: "color: white;" %>
  </div>


</div>

  </div>

</div>
