<p><%= @establishment.name %></p>
<p><%= @establishment.address %></p>




<div class="product_container">
  <h3>Nos produits disponibles</h3>
  <div >
    <% if @products.any? %>
      <% @products.each do |product| %>

        <div class="card-product">
          <img src="" alt="">
          <div class="card-product-infos">
            <h2><%= product.title %></h2>
            <p><%= product.condition %></p>
          </div>
          <h2><%= product.price %>€</h2>
        </div>
      <% end %>
    <% else %>
      <p>No products available</p>
    <% end %>
  </div>
</div>



<div>
     <div style="width: 60%; height: 300px;"
        data-controller="map"
        data-map-markers-value="<%= @marker.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
</div>
